div.confirmPayPageDiv{
    max-width: 1013px;
    margin: 10px auto;
}
div.confirmPayImageDiv{
    margin: 5px auto 80px  auto;
    width:900px;
    position: relative;
}

div.confirmPayImageDiv div{
    color:#999999;
}

div.confirmPayTime3{
    position:absolute;
    top:100px;
    left:400px;
}

div.confirmPayTime2{
    position:absolute;
    top:100px;
    left:190px;
}

div.confirmPayTime1{
    position: absolute;
    top:100px;
    left:-20px;
}
div.confirmPayOrderInfoText{
    margin: 10px 10px 0px 10px;
    font-size:16px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 1px solid #ADc8e6;
}

div.confirmPayOrderItemDiv{
    margin: 0px 20px;
}

div.confirmPayOrderItemText{
    margin: 20px 10px;
    font-size:14px;
    font-weight: normal;
    color:black;
}

table.confirmPayOrderItemTable{
    border:1px solid #DDDDDD;
    width:100%;
}

table.confirmPayOrderItemTable thead{
    background-color: #E8F2FF;
    height:33px;
}

table.confirmPayOrderItemTable tr{
    border:1px solid #DDDDDD;
}

table.confirmPayOrderItemTable th,table.confirmPayOrderItemTable td{
    text-align: center;
}

table.confirmPayOrderItemTable td{
    padding: 20px;
}
td.confirmPayOrderItemProductLink{
    text-align: left!important;
}

span.conformPayProductPrice{
    font-size:18px;
    font-weight: bold;
    color:#666666;
}

span.confirmPayOrderItemSumPrice{
    color:#c40000;
}

a{
    color: #999999;
}

a:hover{
    text-decoration: none;
    color:#c40000;
}

div.confirmPayOrderDetailDiv{
    margin: 40px;
}

table.confirmPayOrderDetailTable{
    width: 100%;
    border-top:1px solid #DDDDDD;
}
table.confirmPayOrderDetailTable td{
    padding:8px;
    color:black;
    font-size:14px;
}

span.confirmPayOrderDetailWangWangGif{
    display: inline-block;
    width:25px;
    height:25px;
    background-image: url(site/wangwang.gif);
    background-repeat: no-repeat;
    background-color: transparent;
    background-attachment: scroll;
    background-position: -83px 0px;
    position: relative;
    top:8px;
    left:2px;
}

div.confirmPayButtonDiv{
    border:1px solid #F58b0f;
    margin: 20px;
}

div.confirmPayWarning {
    margin: 20px 80px;
    font-size: 18px;
    color: red;
    font-weight: bold;
}
button.confirmPayButton{
    margin: 20px 80px;
    width:67px;
    height:30px;
    border:1px solid #E67C00;
    background-color: #F4a21D;
    border-radius: 4px;
    color:white;
    font-size: 12px;
}

button.confirmPayButton:hover{
    background-color: #F6AE30;
}
