body{
    font-size: 12px;
    font-family: Arial;
}

a{
    color: #999;
}

.redColor{
    color: #c40000 !important;
}

nav.top{
    background-color: #f2f2f2;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e7e7e7;
}

nav.top span , nav.top a{
    color:#999;
    margin: 0px 10px  0px 10px;
}

nav.top a:hover{
    color: #c40000;
}

.pull-right{
    float: right !important;
}