.boldWord{
    font-weight: bold;
}

div.imgAndInfo{
    margin:40px 20px;
}

div.imgInimgAndInfo{
    float: left;
}

 img.bigImg{
    width:400px;
    height:400px;
    padding: 20px;
    border: 1px solid #f2f2f2;
}

 div.smallImageDiv{
    width: 80%;
    margin: 20px auto;
}

 img.smallImage{
    width: 60px;
    height:60px;
    border: 2px solid white;
}

 img.smallImage:hover{
    border: 2px solid black;
}

 div.productTitle{
    color:black;
    font-size:16px;
    font-weight: bold;
    margin: 0px 10px;
}
 div.productSubTitle{
    color:#dd2727;
    font-size:12px;
    margin:0px 10px;
    
}

 div.juhuasuan{
    background-color: #2da77a;
    color: white;
    text-align: center;
    line-height: 40px;
    margin-top: 10px;
}
 span.juhuasuanBig{
    font-size: 18px;
    font-weight: bold;
    font-family: 黑体;
}

span.juhuasuanTitle{
    color: #ffc057;
    font-weight: bold;
}

div.productPriceDiv{
    background-image: url(site/priceBackground.png);
    height:102px;
    padding: 10px;
    color: #666666;
}

div.gouwujuanDiv{
    margin-top: 5px;
}

div.originalDiv{
    margin-top: 5px;
}

 span.originalPriceDesc{
    color:#999999;
    display: inline-block;
    width: 68px;
}

span.originalPrice{
    font-family: Arial;
    font-size:12px;
    color: #333333;
    text-decoration: line-through;
}

span.promotionPriceYuan{
    font-family: Arial;
    font-size:18px;
    color: #c40000;
}

span.promotionPrice{
    color: #c40000;
    font-family: Arial;
    font-size:30px;
    font-weight: bold;
}

span.promotionPriceDesc{
    color:#999999;
    display: inline-block;
    width: 68px;
    position: relative;
    left: 0px;
    top:-10px;
}

div.productSaleAndReviewNumber{
    margin: 20px 0px;
    border-top: 1px dotted #c9c9c9;
    border-bottom:1px dotted #c9c9c9 ;
    padding: 10px;
}

div.productSaleAndReviewNumber div{
    display: inline-block;
    width: 49%;
    text-align: center;
    color: #999999;
    font-size:12px;
}

div.productSaleAndReviewNumber div:first-child{
    border-right: 1px solid #e5dfda;
}

div.productNumber{
    color:#999999;
}


 span.productNumberSettingSpan{
    border: 1px solid #999;
    display: inline-block;
    width: 43px;
    height: 32px;
    padding:7px 0;
}
/*
写到了这里
*/

input.productNumberSetting{
    border: 0px;
    height: 80%;
    width: 80%;
}
span.updown img{
    display:inline-block;
    vertical-align:top;
}


span.glyphicon{
    font-size: 6px;
}


span.updown{
    border: 1px solid #999;
    display: block;
    width: 20px;
    height: 14px;
    text-align: center;
    padding-top:4px;
}
span.updownMiddle{
    height: 4px;
    display: block;
}
span.arrow{
    display: inline-block;
    width: 22px;
    height: 32px;
    vertical-align:top;
}
div.serviceCommitment{
    margin: 20px 0px;
}
span.serviceCommitmentDesc{
    color: #999999;
}
span.serviceCommitmentLink a{
    color: #666666;
}
div.buyDiv{
    margin: 20px auto;
    text-align: center;
}
div.buyDiv button{
    display: inline-block;
    margin: 0px 10px;
    width: 180px;
    height: 40px;
}
button.buyButton{
    border: 1px solid #C40000;
    background-color: #FFEDED;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #C40000;
    font-family: arial;
}
button.addCartButton{
    border: 1px solid #C40000;
    background-color: #C40000;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: white;
    font-family: arial;
}
button.addCartButton span.glyphicon{
    font-size: 12px;
    margin-right: 8px;
}
a:hover{
    text-decoration:none;
}
.redColor{
    color: #C40000;
}

div.productDetailDiv{
    width: 790px;
    margin:40px auto;
}

a.selected{
    border-right: 1px solid #cfbfb1;
    border-left: 1px solid #cfbfb1;
    color:#b10001;
    display: inline-block;
    font-weight: bold;
    line-heihgt:46px;
    width:90px;
    text-align: center;
    position:relative;
}

a.selected:before{
    content:"";
    display: block;
    border:1px #b00000 solid;
    width:90px;
    height:0;
    position:absolute;
    top:-1px;
    margin-left: -1px;
}

a.selected:after{
    content: "";
    display: block;
    border: 1px solid #b00000;
    border-color: transparent transparent;
    width:0px;
    height:0px;
    position:absolute;
    top:-1px;
    left:50%;
    margin-left: -5px;
}

a.productDetailTopReviewLink{
    padding: 0px 20px;
    border-right:1px dotted #d2d2d2;
    color:#333333;
}

span.productDetailTopReviewLinkNumber{
    color: #3355b9;
}

div.productParamter{
    color:#999999;
    font-weight: bold;
    margin-bottom: 20px;
}

div.productParamterList span{
    display: block;
    width:790px;
    margin: 20px 0px;
}

