div.reviewDiv{
    max-width: 1013px;
    margin: 10px auto;
}

div.reviewProductInfoImg{
    border:1px solid #e7e7e7;
    width:464px;
    text-align: center;
    float:left;
}

div.reviewProductInfoRightDiv{
    overflow: hidden;
    border-top: 1px solid #e7e7e7;
    padding: 30px 20px;
}

div.reviewProductInfoRightText{
    color:black;
    font-size:16px;
    font-weight: bold;
}

table.reviewProductInfoTable{
    margin: 20px 10px;
    font-size:12px;
}

table.reviewProductInfoTable td{
    padding-bottom: 5px;
    color: #999999;
}

span.reviewProductInfoTablePrice{
    color:#c40000;
    font-size:20px;
    font-weight: bold;
}

span.reviewProductInfoTableSellNumber{
    color:#c40000;
    font-size: 14px;
    font-weight: bold;
}

div.reviewProductInfoRightBelowDiv{
    border: 1px solid #F6F5F3;
    background-color: #FDFBFA;
    height: 166px;
    padding:16px 0px 16px 81px;
}

span.reviewProductInfoRightBelowImg{
    background-color: white;
    border: 1px solid #E1E1E1;
    display: inline-block;
    width: 23px;
    height: 42px;
    background-image: url(site/reviewLight.png);
    background-repeat: no-repeat;
    padding: 0px;
    padding-top: 0px;
}

span.reviewProductInfoRightBelowText{
    border: 1px solid #EFEFEF;
    display: inline-block;
    width: 200px;
    height: 42px;
    padding: 4px;
    position: relative;
    left: -4px;
    top: -7px;
    color: #666666;
    font-size:12px;
}
img.reviewProductImg{
    width: 400px;
    height: 400px;
}

div.reviewStasticsDiv{
    margin-top: 20px;
}

div.reviewStasticsLeft{
    width:180px;
    float:left;
}

div.reviewStasticsLeftTop{
    background-color: #c40000;
    height:6px;
}

div.reviewStasticsLeftContent{
    line-height: 29px;
    border-left: 1px solid #D5D4D4;
    border-right: 1px solid #D5D4D4;
    background-color: #F6F5F1;
    text-align: center;
    font-size:14px;
    color:#363535;
    font-weight: bold;
}
div.reviewStasticsLeftFoot{
    height:6px;
    border-bottom:1px solid #D5D4D4;
    border-left:1px solid #D5D4D4;
}

span.reviewStasticsNumber{
    color: #284CA5;
}

div.reviewStasticsRight{
    overflow: hidden;
}

div.reviewStasticsRightEmpty{
    height: 35px;
}

div.reviewStasticsFoot{
    background-color: #F6F5F1;
    border: 1px solid #D5D4D4;
    border-left-width: 0px;
    height: 6px;
}

div.makeReviewDiv{
    border:1px solid #D1CCC8;
    margin: 20px 0px;
    background-color: #EFEFEF;
}

div.makeReviewText{
    font-size: 16px;
    color:#333333;
    font-weight: bold;
    margin: 20px 40px;
}

table.makeReviewTable{
    margin: 20px 40px;
    font-size: 12px;
}

able.makeReviewTable td{
    border: 1px solid #E7E7E7;
    padding: 10px;
    background-color: white;
}
table.makeReviewTable textarea{
    border-width: 0px;
    resize: none;
    width: 420px;
    height:120px;
}

td.makeReviewTableFirstTD{
    background-color: #F6F6F6;
}

div.makeReviewButtonDiv{
    background-color: white;
    text-align: center;
    padding: 15px;
}

div.makeReviewButtonDiv button{
    width:72px;
    height:26px;
    border-radius: 2px;
    background-color: #c40000;
    color: white;
    border-width: 0px;
    font-weight: bold;
}